.container {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 160px;
}

.connectWallet {
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem;
  font-weight: bold;
}

.address,
.tokenAmount {
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #81e6d9;
  border-radius: 5px;
  text-align: center;
}

.tokenAmount {
  margin-top: 1rem;
}
